/* CSS RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:''}:focus{outline:0}table{border-collapse:collapse;border-spacing:0}


pre {
	overflow-x: scroll;
	overflow-y: hidden;
	border: 1px solid #BFBFBF;
	padding: 10px;
	margin: 20px 0;
}

/* GLOBAL */

/* GLOBAL FONTS */

body {
	font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
	font-size: 16px;
	font-size: 100%;
	font-size-adjust: none;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* GLOBAL HEADERS */

h1, h2, h3,h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000
}

h1 {
	font-size: 36px;
	font-weight: normal;
	line-height: 42px;
}

h2 {
	font-size: 32px;
	font-weight: normal;
	line-height: 38px;
}

h3 {
	font-size: 28px;
	font-weight: normal;
	line-height: 32px;
}

h4 {
	font-size: 24px;
	font-weight: normal;
	line-height: 28px;
}

h5 {
	font-size: 20px;
	text-transform: uppercase;
	line-height: 24px;
}

h6 {
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 22px;
}

article>ul>li {
	list-style: none;
}

article>ul>li p li {
	list-style: circle;
}

p {
	font-size: 14px;
	line-height: 20px;
	margin: 10px 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

dt {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 5px;
}

dd {
	font-size: 12px;
	line-height: 18px;
	margin-left: 15px;
}

ul li, ol li {
	line-height: 20px;
}

li ul, li ol {
	margin-left: 25px;
}

s, del, strike {
	text-decoration: line-through;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

.highlight {
	font-style: normal;
	color: #80c040;
}

blockquote {
	background: #f1f1f1;
	padding: 10px;
	border: 1px solid #bfbfbf;
	margin: 10px 0;
}

blockquote p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	color: #5D7370;
	line-height: 30px;
	margin-bottom: 5px;
}

/* GLOBAL FONT "COLOR" */

body {
	color: #686868;
	background: #f9f9f9;
}

a {
	color: #324654;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

a:hover {
	text-decoration: underline;
}

::selection {
    background: #324654;
    color: #fff;
}

::-moz-selection {
	background: #324654;
	color: #fff;
}


/* SITE WIDE */

#container {
	max-width: 900px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #BFBFBF;
	background: white;
}

header.banner {
	padding: 25px 0;
	overflow: hidden;
	border-bottom: 1px solid #bfbfbf;
}

header .logo {
	float: left;
}

header.banner h1 {
	color: #C46D3B;
}

nav.col_7 {
	float: right;
}

nav.main_nav ul li {
	float: left;
	margin-left: 20px;
}

.main_nav a {
	display: block;
	margin: 11px 15px;
}

ul li article {
	padding: 10px 0;
	border-bottom: 1px solid #f1f1f1;
}

ul li article h3 {
	margin-bottom: 10px;
}

ul li article time,
article.post time {
	font-size: 12px;
	color: #AAA;
	margin: 5px 0;
	display: block;
}

article.post {
	margin: 10px 0;
}

.tags {
	overflow: hidden;
}

.tags li {
	font-size: 12px;
	list-style: none;
	float: left;
}

.tags li:after {
	content: ', '
}

.tags li:last-of-type:after {
	content: '';
}

#twitter_share,
#facebook_share {
	float: left;
}

.post .row .col_7 {
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 10px;
}

.prev {
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
}

.prev.disabled,
.next.disabled {
	color: #bfbfbf;
	cursor: default;
}

.prev.disabled:hover,
.next.disabled:hover {
	text-decoration : none;
}

.next {
	float: right;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
}

#pagination {
	text-align: center;
	overflow: hidden;
}

#pagination .backlink {
	margin-top: 10px;
	display: inline-block;
}

footer {
	text-align: center;
	padding: 10px 0;
}
