 @font-face {font-family: 'FuturaBT-Light';src: url('webfonts/22F8DA_0_0.eot');src: url('webfonts/22F8DA_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/22F8DA_0_0.woff') format('woff'),url('webfonts/22F8DA_0_0.ttf') format('truetype');}
 
  
 @font-face {font-family: 'FuturaBT-LightItalic';src: url('webfonts/22F8DA_1_0.eot');src: url('webfonts/22F8DA_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/22F8DA_1_0.woff') format('woff'),url('webfonts/22F8DA_1_0.ttf') format('truetype');}
 
  
 @font-face {font-family: 'FuturaBT-Book';src: url('webfonts/22F8DA_2_0.eot');src: url('webfonts/22F8DA_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/22F8DA_2_0.woff') format('woff'),url('webfonts/22F8DA_2_0.ttf') format('truetype');}
 
  
 @font-face {font-family: 'FuturaBT-BookItalic';src: url('webfonts/22F8DA_3_0.eot');src: url('webfonts/22F8DA_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/22F8DA_3_0.woff') format('woff'),url('webfonts/22F8DA_3_0.ttf') format('truetype');}
 
  
 @font-face {font-family: 'FuturaBT-Medium';src: url('webfonts/22F8DA_4_0.eot');src: url('webfonts/22F8DA_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/22F8DA_4_0.woff') format('woff'),url('webfonts/22F8DA_4_0.ttf') format('truetype');}
 
  
 @font-face {font-family: 'FuturaBT-MediumItalic';src: url('webfonts/22F8DA_5_0.eot');src: url('webfonts/22F8DA_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/22F8DA_5_0.woff') format('woff'),url('webfonts/22F8DA_5_0.ttf') format('truetype');}
 
 @font-face {font-family: 'FuturaBT-Bold';src: url('webfonts/2302BA_0_0.eot');src: url('webfonts/2302BA_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2302BA_0_0.woff') format('woff'),url('webfonts/2302BA_0_0.ttf') format('truetype');}