  {% extends "base.html" %}
  {% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

  {% block breadcrumbs %}
  {% if DISPLAY_BREADCRUMBS %}
  {% if DISPLAY_CATEGORY_IN_BREADCRUMBS %}
  <ol class="breadcrumb">
    <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
    <li><a href="{{ SITEURL }}/{{ article.category.url }}" title="{{ article.category }}">{{ article.category }}</a></li>
    <li class="active">{{ article.title }}</li>
  </ol>
  {% else %}
  <ol class="breadcrumb">
    <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="active">{{ article.title }}</li>
  </ol>
  {% endif %}
  {% endif %}
  {% endblock %}

  {% block content %}
  <section id="content">
    <article>
      <header class="page-header">
        {% if article.status == 'draft' %} <h1>DRAFT. PLEASE DO NOT SHARE THIS LINK.</h1> {% endif %}

        <h1>
          <a href="{{ SITEURL }}/{{ article.url }}"
             rel="bookmark"
             title="Permalink to {{ article.title|striptags }}">
            {{ article.title }}
          </a>
        </h1>
      </header>
      <div class="entry-content">
        <div class="panel">
          <div class="panel-body">
            {% include "includes/article_info.html" %}
          </div>
        </div>
        {{ article.content }}
      </div>
      <!-- /.entry-content -->
      {% include 'includes/related-posts.html' %}
      {% include 'includes/addthis.html' %}
      {% include 'includes/comments.html' %}
    </article>
  </section>

  <div class="row" id="emailcollector">
    <div class="col-sm-2">
      <img id="mailer" src="" style="width: 160px; height=160px;"></img>
    </div>
    <div class="col-sm-10">
      <div id="mc_embed_signup">
        <form action="//chrisstucchio.us9.list-manage.com/subscribe/post?u=3a98a60ae3f68c59a307a874c&amp;id=3adc54ba5c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" role="form" novalidate >
          <h2>Subscribe to the mailing list</h2>
          <div class="mc-field-group form-group">
            <label for="mce-EMAIL">Email Address</label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"></input>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_3a98a60ae3f68c59a307a874c_3adc54ba5c" tabindex="-1" value=""></input></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></input></div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </div>
  </div>

  {% endblock %}

{% block footerjs %}
    <script type="text/javascript">
      (function() {
      var setCookie = function(name,value,days) {
        if (days) {
          var date = new Date();
          date.setTime(date.getTime()+(days*24*60*60*1000));
          var expires = "; expires="+date.toGMTString();
      }
      else var expires = "";
      document.cookie = name+"="+value+expires+"; path=/";
      };

      var readCookie = function(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
      };

      var choices = ["/media/images/chris_glasses.png", "/media/images/chris_noglasses.png"];
      var choice = readCookie("glasses_test");
      if (choice === null) {
        if (Math.random() > 0.5) {
          choice = choices[0];
        } else {
          choice = choices[1];
        }
        setCookie("glasses_test", choice);
      }
      ga('send', {
        'hitType' : 'event',
        'nonInteraction' : true,
        'eventCategory' : 'ab:glasses',
        'eventAction' : choice
      });
      document.getElementById("mailer").setAttribute("src", choice);
      document.getElementById("mc-embedded-subscribe").addEventListener("click", function () {
        ga('send', {
            'hitType' : 'event',
            'nonInteraction' : true,
            'eventCategory' : 'ab:glasses:submit',
            'eventAction' : choice
          });
        });
      })();
    </script>
{% endblock %}