{% extends "base.html" %}
{% block content %}
<h1><a href="/blog/index.html">Selected blog posts</a></h1>
<p>Posts listed on the homepage are the more popular or interesting ons. Click <a href="/archives.html">here</a> for the <a href="/archives.html">chronological blog listing.</a></p>
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
          {% if article.featured %}
            <article>
                {% if article.remoteurl %}
                <h2><a href="{{ article.remoteurl }}">{{ article.title }}</a></h2>
                {% else %}
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                {% endif %}
                <div class="summary">{{ article.summary }}
                    {% include 'includes/comment_count.html' %}
                    <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                </div>
            </article>
            <hr/>
          {% endif %}
        {% endfor %}
    {% endif %}
{% if FRONT_PAGE_CATEGORIES %}
<a href="/blog/index.html">Read more</a>
  <div class="row">
    <h1>Popular Topics</h1>
    {% for category, article_list in categories %}
      {% if category in FRONT_PAGE_CATEGORIES %}
      <div class="col-lg-3">
        <h2>{{category}}</h2>
        <ul>
          {% for article in article_list %}
            {% if article.remoteurl %}
              <li><a href="{{ article.remoteurl }}">{{ article.title }}</a></li>
            {% else %}
              <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
     {% endfor %}
  </div>
{% endif %}
{% endblock content %}
