<!doctype html>
<html lang="en" class="no-js">
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">

  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width = device-width">

  {% block favicons %}
  <!-- Place favicon.ico & apple-touch-icon.png
        in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">
  {% endblock favicons %}

  {% block css %}
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ media_url('css/style.css') }}" media="screen" title="Main Stylesheet" />
  {% endblock css %}

  {% block headjs %}
  <!-- All JavaScript at the bottom, except for Modernizr which
        enables HTML5 elements & feature detects -->
    <script src="{{ media_url('js/modernizr-1.7.min.js') }}"></script>
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30538320-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
</script>
<script type="text/javascript">var _paq = _paq || [];
(function(){
   var u=(("https:" == document.location.protocol) ? "https://embed.bayesianwitch.com" : "http://embed.bayesianwitch.com");
   _paq.push(['setSiteId', "cdfdf2e8-8937-4fa8-9a5b-7595f8b3487f"]);
   _paq.push(['setTrackerUrl', "http://r.bayesianwitch.com"]);
   _paq.push(['enableLinkTracking']);
   _paq.push(['setCookieDomain', '*.chrisstucchio.com']);
   _paq.push(['setDomains', '*.chrisstucchio.com']);
   _paq.push(['trackPageView']);
   var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
   g.type='text/javascript'; g.defer=true; g.async=true; g.src=u+'/bayesianwitch.js';
   s.parentNode.insertBefore(g,s);
})();
</script>

</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
<div id="container">
	{% block container %}
	<div id="main" role="main">
		<div class="row">
			<header class="banner clearfix">
			{% block header -%}
				<div class="logo col_9 col">
					<h1>Chris Stucchio</h1>
				</div>
			{%- endblock %}
				<nav class="col_7 col">
					{% block nav %}
					{% from "macros.j2" import render_nav with context %}
					{{ render_nav(menu, 'main_nav') }}
					{% endblock %}
				</nav>
			</header>
		</div>
		<section class="row" id="styled">
			<article>
			{% block main %}
			{% endblock main %}
			</article>
		</section>
	</div>
    {% endblock container %}
</div> <!--! end of #container -->
<footer class="row">
	<div class="col_16 col">
		Powered by <a href="http://ringce.com/hyde">hyde</a>.
	</div>
</footer>
  {% endblock content%}
  {% block js %}
  <!-- Javascript at the bottom for fast page loading -->
  {% block jquery %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$@','$@'], ['\\(','\\)']]}
});
</script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>
  {% endblock jquery %}

  {% block scripts %}
  {% endblock scripts %}


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

  {% endblock js %}
</body>

</html>
