  {% extends "base.j2" %}

  {% block endhead %}
  <link href="/blog/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />
  {% endblock %}

  {% block main -%}

   <article class="post">
   <h3>{{ resource.meta.title }}</h3>
      <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
        Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
      </time>

      <div class="row">
	<div class="col col_9">
      {% if resource.meta.tags %}
      <ul class="tags">
        {% for tag in resource.meta.tags %}
        <li>
          <a class="small" href="{{ content_url('blog/tags/'~tag~'.html') }}">
            {{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
	</div>

	<div class="col col_7">
	  <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="{{resource.meta.title}}" >Vote on HN</a>

	  <div id="twitter_share">
	    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ tweet_via }}">Tweet</a>
	    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	    <a href="https://twitter.com/stucchio" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @stucchio</a>
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	  </div>
	  <div id="facebook_like">
	    <div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
	  </div>
	  <div><g:plusone size="medium" annotation="inline"></g:plusone></div>
	  <a href="/blog/atom.xml"><img class="atom-feed" src="/media/images/atom.png"></img></a>
	</div>

      </div>
      {% filter markdown|typogrify -%}
      {% mark post -%}
      {% block post -%}{%- endblock %}
      {%- endmark %}
      {%- endfilter %}

   </article>

    <div class="row" id="pagination">
      <div class="col col_16">
      <a class="backlink" href="{{ content_url(resource.node.url) }}"> Back to list</a>
      <a class="prev{{' disabled' if not resource.prev_by_time }}" title="{{ resource.prev_by_time.meta.title }}" {% if resource.prev_by_time %}href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}> Previous </a>
      <a class="next{{' disabled' if not resource.next_by_time }}" title="{{ resource.next_by_time.meta.title }}" {% if resource.next_by_time %} href="{{ content_url(resource.next_by_time.url) }}"{% endif %}> Next </a>
      </div>
    </div>

      <div id="disqus_thread"></div>
      <script type="text/javascript">
	var disqus_shortname = 'chrisstucchiosblog';
	var disqus_identifier = "{{resource.meta.title}}-{{resource.meta.created}}";
	var disqus_url = "http://www.chrisstucchio.com{{resource.url}}";
 	(function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script>
    //Hacker news button
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '/media/js/hnbutton.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
  {%- endblock %}