{% if BAYESIAN_WITCH_SITE_ID %}
<script type="text/javascript">var _paq = _paq || [];
(function(){
   var u=(("https:" == document.location.protocol) ? "https://embed.bayesianwitch.com" : "http://embed.bayesianwitch.com");
   _paq.push(['setSiteId', "{{BAYESIAN_WITCH_SITE_ID}}"]);
   _paq.push(['setTrackerUrl', "http://r.bayesianwitch.com"]);
   _paq.push(['enableLinkTracking']);
   _paq.push(['setCookieDomain', '*.{{BAYESIAN_WITCH_SITE_DOMAIN}}']);
   _paq.push(['setDomains', '*.{{BAYESIAN_WITCH_SITE_DOMAIN}}']);
   _paq.push(['trackPageView']);
   var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
   g.type='text/javascript'; g.defer=true; g.async=true; g.src=u+'/bayesianwitch.min.js';
   s.parentNode.insertBefore(g,s);

   window.BayesianWitch = window.BayesianWitch || {};
   window.BayesianWitch.customEvents = window.BayesianWitch.customEvents || [];
   window.logCustom = function(data) { window.BayesianWitch.customEvents.push(data); };
})();
</script>
{% endif %}