{% if article.status != 'draft' %}
    <hr />
    <section class="comments" id="mailing-list">
      <div class="row" id="emailcollector">
    <div class="col-sm-12">
      <div id="mc_embed_signup">
        <form action="//chrisstucchio.us9.list-manage.com/subscribe/post?u=3a98a60ae3f68c59a307a874c&amp;id=3adc54ba5c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" role="form" novalidate >
          <h2>Subscribe to the mailing list</h2>
          <div class="mc-field-group form-group">
            <label for="mce-EMAIL">Email Address</label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"></input>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_3a98a60ae3f68c59a307a874c_3adc54ba5c" tabindex="-1" value=""></input></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></input></div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </div>
  </div>
    </section>
{% endif %}